trigger:
  branches:
    include:
      - main
  tags:
    include:
      - v*

pool:
  name: Azure Pipelines
  image: ubuntu-latest

jobs:
  - job: Job_1
    pool:
      name: Azure Pipelines
      demands: java
    steps:
    - task: Gradle@2
      displayName: 'gradlew check'
      inputs:
        tasks: check
        publishJUnitResults: false
        jdkVersionOption: '$(Parameters.jdkVersion)'

  - job: Job_2
    dependsOn: Job_1
    pool:
      name: Azure Pipelines
      demands: java
    steps:
    - task: DownloadSecureFile@1
      displayName: 'Download secring.gpg'
      inputs:
        secureFile: secring.gpg
    - task: Gradle@3
      displayName: 'gradlew publishToSonatype'
      inputs:
        options: '-Psigning.password=$(GPG_SIGNING_PASSPHRASE) -PsonatypeUsername=$(SONATYPE_USER) -PsonatypePassword=$(SONATYPE_PASSWORD)'
        tasks: publishToSonatype
        publishJUnitResults: false
        jdkVersionOption: '$(Parameters.jdkVersion)'
      condition: and(succeeded(), startsWith(variables['build.sourceBranch'], 'refs/tags/v'))
